header
  background-color: white
  padding: 0.5rem 1rem
  height: 50px
  display: flex
  align-items: center
  justify-content: center

.logo
  width: 100px

.main-logo
  width: auto
  margin-bottom: 0

footer
  margin-top: 2rem

.footer-img
  height: 60px
