.login-container
  max-width: 400px
  margin: auto
  padding: 2rem 1rem

.login-fields
  display: flex
  flex-direction: column
  gap: 15px

.forgot-password,
.forgot
  display: block
  margin-top: 0.5rem
  font-size: 0.9rem
  color: var(--Cuser)
  text-align: left
  text-decoration: none
  margin-bottom: 40px

.existing-user
  font-size: 0.85rem
  margin-top: 1.5rem
  color: var(--Cuser)
