root
  --Cuser: #333
  --Cline: #ccc
  --Cbackground: #fff
  --Cborder: #aaa
  --Cpassbgr: #d3e2e8
  --Cform-label: #333
  --Cblue: #004d80
  --Cblue-dark: #0051b3
  --Cpink: #c0004d
  --Cpink-dark: #cc0066
